:root {
    --main-color: rgb(86, 3, 3);
    --background: rgb(235,240,243);
    --font-color: rgb(0, 0, 70);
    --light-font: rgb(84, 84, 137);
    --hover-font-color: rgb(75, 75, 223);
    --button-font-color: rgb(241,241,241);
    --product-item-color:rgb(244, 244, 244);
    --footer-bottom-color:rgb(0, 0, 38);
    --table-color:rgb(246, 248, 255);
}
.selected {
    color: var(--hover-font-color);
}
#cartData {
    overflow-x:scroll;
    width: 100%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    padding: 3rem 3rem;
    animation: fade-in 800ms forwards;
}

#cartData table, th, td {
    /* border: 0.1px solid rgba(0, 0, 78, 0.5); */
    padding: 1rem 3rem;
    text-align: center;
    border-collapse: collapse;
    transition: 0.4s;
    white-space: nowrap;
}


#cartData table {
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 100%;
    background-color: var(--table-color);
}

#cartData .remove-item {
    animation: glow 500ms ease-in-out;
}

#cartData .rem-div {
    background-color: var(--font-color);
    border-radius: 50%;
    padding: 1rem 1rem;
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: transform 0.7s ease-in-out, background-color 400ms ease-in;
}

#cartData .quantity-item {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    align-items: center;
}

#cartData .table-icon {
    color: var(--button-font-color);
}

    #cartData .rem-div:hover {
        transform: rotate(360deg);
        background-color: rgb(171, 0, 0);
    }

    li {
        transition: 0.4s;
    }

#emptyCart {
    display: none;
}

#emptyCart.active {
    width: 100%;
    display: block;
    padding: 3rem 3rem;
    text-align: center;
    animation: fade-in 800ms forwards;
}

#emptyCart.active svg {
    max-width: 70vw;
    height: fit-content;
}
#emptyCart.active h2 {
    margin-top: 1rem;
}
#emptyCart.active p {
    width: 100%;
    font-size: large;
    margin-top: 0.8rem;
    text-align: center;
}

#emptyCart.active a {
    text-decoration: none;
    color: var(--hover-font-color);
    transition: 0.3s;
}

#emptyCart.active a:hover {
    opacity: 0.5;
}

@media (max-width:490px) {
    #emptyCart.active h2 {
        font-size: 2rem;
    }

    #emptyCart.active p {
        font-size: 1rem;
    }
}

@media (max-width:350px) {
    #emptyCart.active h2 {
        font-size: 1.5rem;
    }

    #emptyCart.active p {
        font-size: 0.8rem;
    }
}

@media (max-width:293px) {
    #emptyCart.active h2 {
        font-size: 1.3rem;
    }
}

#footer {
    margin-top: 2rem;
}

/* [data-index=1] {
    background-color: red;
} */

@keyframes glow {
    0% {
        background-color: rgb(255, 164, 164);
    }
    100% {
        background-color: transparent;
    }
}